{{> layout/header}}

<div class="container my-3">
    <h1>NotFound 404</h1>
    <hr>
    <h4>{{msg}}</h4>
    <div class="mt-3">
        <a href="/" class="btn btn-primary">메인 페이지</a>
        <a href="/board/save-form" class="btn btn-success">글쓰기</a>
    </div>
</div>

{{> layout/footer}}