{{> layout/header}}

<div class="container my-3">
    <h1>ServerError 500</h1>
    <hr>
    <h4>{{msg}}</h4>
    <div class="mt-3">
        <a href="/" class="btn btn-primary">메인으로</a>
        <a href="javascript:location.reload()" class="btn btn-success">새로고침</a>
    </div>
</div>

{{> layout/footer}}